# Encrypt human-readable project content with git-crypt.
*.clj filter=git-crypt diff=git-crypt
*.cljc filter=git-crypt diff=git-crypt
*.cljs filter=git-crypt diff=git-crypt
*.edn filter=git-crypt diff=git-crypt
*.md filter=git-crypt diff=git-crypt
*.txt filter=git-crypt diff=git-crypt
*.json filter=git-crypt diff=git-crypt
*.jsonl filter=git-crypt diff=git-crypt
*.yaml filter=git-crypt diff=git-crypt
*.yml filter=git-crypt diff=git-crypt
*.csv filter=git-crypt diff=git-crypt
*.tsv filter=git-crypt diff=git-crypt
*.R filter=git-crypt diff=git-crypt
*.sh filter=git-crypt diff=git-crypt
deps.edn filter=git-crypt diff=git-crypt
Makefile filter=git-crypt diff=git-crypt

